{% extends 'base.html' %}
{% load static %}

{% block catalogo %}
<body>
    <div>
        <h1>Contacto</h1>
            <h3>¡Bienvenidos a Strawberry Daki! Somos un emprendimiento apasionado por los detalles que marcan la diferencia.</h3>
            <h3>Nuestro objetivo es ofrecerte una selección única de accesorios y productos pensados para complementar tu estilo y día a día.</h3>
            <h3>Nos encanta la practicidad, por eso hemos diseñado este catálogo virtual para que puedas explorar nuestros productos desde la comodidad de tu teléfono.</h3>
            <h3>Creemos en el trato personalizado, por lo que cada pedido se gestiona directamente con nosotros, asegurándonos de que recibas exactamente lo que buscas.</h3>
        <h1>Nuestra ubicación y entregas:</h1>
            <h3>Estamos ubicados en el corazón de San José. Si estás cerca, realizamos entregas personales en el centro.</h3>
        <h1>¿Vives lejos?</h1>
            <h3>No te preocupes, hacemos llegar tus favoritos a cualquier rincón de Costa Rica a través de Correos de Costa Rica.</h3>
        <h3>Gracias por apoyar nuestro negocio y elegirnos para tus compras.</h3>
    </div>
</body>
    {% endblock %}