<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UFT-8">
    <title>Strawberry Daki</title>
</head>

<body style="background-color: hsla(322,88%,82%,0.7); text-align: center;"> <!-- style da estilos -->

    <!-- Titulos -->
    <h1><img src="static/img/fresa.png" alt="fresas" width="50" height="50">Strawberry Daki<img src="static/img/fresa.png" alt="fresas" width="50" height="50"></h1>
    <h2>Compras en linea</h2>
    <p>Puedes explorar los modulos, secciones y interacciones de la web.</p>

    <!--<img src="static/img/fresa.png" alt="fresas" width="100" height="100" style="display: block; margin: 0 auto;"> -->

    <ul>
        
        <h4>Bienvenido</h4>
        <h4><a href="#"></a>Tienda</h4>
        <h4><a href="{% url 'contacto' %}">Contacto</a></h4>
        <h4><a href="#"></a>Sobre nosotros</h4>
        <h4><a href="#"></a>Realiza tu pedido personalizado</h4>

    </ul>


    <!--
    <footer>
        <p>En creacion</p>
        <a href="{% url 'contacto' %}">
        Contacto</a>
    </footer>
-->
</body>
</html>